<html>

<head>

    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    
    <script type="text/javascript" src="../public/javascripts/script.js"></script>


    <title>Twitter Analyser</title>

</head>

<body>

<div class="container">

    <!--Search Bar-->
    <section class="webdesigntuts-workshop">
        <input id="search_key" type="search" placeholder="type your hashtags here">
        <button id="search_button" type="submit" onclick="Search()">Search</button>
        <button id="stop_button" type="submit" onclick="Stop_search()">Stop</button>
    </section>

    <!--Animation-->
    <div class="twitter_animation">
        <div class="visible">
            <p>Twitter # </p>
            <ul>
                <li>australia</li>
                <li>brisbane</li>
                <li>qut</li>
                <li>cloud</li>
                <li>computing</li>
            </ul>
        </div>
    </div>

    <!--Graph-->
    <div id="lower_body">
        <div id="graph_wrapper">
            <div id="graph"></div>
        </div>
    </div>

</div>
</body>
</html>